@nielsen-media:registry=https://gitlab.com/api/v4/packages/npm/
@nielsen-media:registry=https://gitlab.com/api/v4/projects/40331883/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-ERRjuZpjzyzB_UVYTKr7
//gitlab.com/api/v4/projects/40331883/packages/npm/:_authToken=glpat-ERRjuZpjzyzB_UVYTKr7
registry=https://registry.npmjs.org/
always-auth=true
