/* GDS BORDER TOKENS */

/* 
🚨🚨🚨
* * * 1. These tokens are not to be adjusted in any way without consulting the GDS team.
* * * 2. Please do not use these specific variables in your application. 
* * * *  These are specific tokens that map to parts of the design system. 
* * * *  The gds-scaffolding.css file has CSS classes and semantic tokens 
* * * *  to be used throughout your application.
🚨🚨🚨 
*/

$border-0: 0px;
$border-100: 2px;
$border-200: 4px;

$radii-0: 0;
$radii-100: 4px;
$radii-200: 6px;
$radii-300: 8px;
$radii-400: 12px;
$radii-500: 16px;
$radii-600: 32px;



