/* GDS SPACING TOKENS */

/* 
🚨🚨🚨
* * * 1. These tokens are not to be adjusted in any way without consulting the GDS team.
* * * 2. Please do not use these specific variables in your application. 
* * * *  These are specific tokens that map to parts of the design system. 
* * * *  The gds-scaffolding.css file has CSS classes and semantic tokens 
* * * *  to be used throughout your application.
🚨🚨🚨 
*/

$space-0: 0px;
$space-100: 2px;
$space-200: 4px;
$space-300: 8px;
$space-400: 12px;
$space-500: 16px;
$space-600: 20px;
$space-700: 24px;
$space-800: 32px;
$space-900: 48px;
$space-1000: 64px;

$layout-0: 192px;
$layout-100: 224px;
$layout-200: 256px;
$layout-300: 320px;
$layout-400: 384px;
$layout-500: 512px;
$layout-600: 768px;
$layout-700: 1024px;
$layout-800: 1280px;
$layout-900: 1600px;
$layout-1000: 1920px;


