$borders: (
  "border-0": $border-0,
  "border-100": $border-100,
  "border-200": $border-200,
);

$radii: (
  "radii-0": $radii-0,
  "radii-100": $radii-100,
  "radii-200": $radii-200,
  "radii-300": $radii-300,
  "radii-400": $radii-400,
  "radii-500": $radii-500,
  "radii-600": $radii-600,
);

$borders: (
 0: $border-0,
 100: $border-100,
 200: $border-200,
);
  
$radii-level-values: (
  0: $radii-0,
  100: $radii-100,
  200: $radii-200,
  300: $radii-300,
  400: $radii-400,
  500: $radii-500,
  600: $radii-600,
);

@include cssvars($borders);
@include cssvars($radii);